{% extends "firstapp/layout.html" %} {% block body %}

<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="bg-gradient-to-b from-yellow-400 to-yellow-600 text-gray-700 py-6">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-left sm:text-center ml-6 sm:ml-0">
      {{ artist }}
    </h1>
    <p class="text-left sm:text-center ml-6 sm:ml-0">
      <span class="text-2xl font-bold italic">Statistics</span>
    </p>
  </div>
</div>

<div id="scatterplot-container" class="flex justify-center"></div>

<script>

  var data = {{ json_data | safe }};
  console.log("data");
  console.log(data);

  // Filter out data points with NaN lowest_price
  data = data.filter(function(d) {
    return d.lowest_price !== null;
  });

  // Set the dimensions and margins for the scatterplot
  const margin = {
    top: 20,
    right: 20,
    bottom: 50,
    left: 50,
  };

  // set x, y, and z
  const xValue = (d) => new Date(d.released);
  const yValue = (d) => +d.lowest_price;
  const zValue = (d) => d.title;

  // set circle radius
  const radius = 5;

  const width = window.innerWidth*0.90;
  const height = window.innerHeight*0.60;

  // Append the SVG element to the scatterplot container
  var svg = d3.select("#scatterplot-container")
      .append("svg")
      .attr("width", width)
      .attr("height", height)

  const x = d3.scaleTime()
    .domain(d3.extent(data, xValue))
    .range([margin.left, width - margin.right]);

  const y = d3.scaleLinear()
    .domain(d3.extent(data, yValue))
    .range([height - margin.bottom, margin.top]);

  const marks = data.map(d => ({
    x: x(xValue(d)),
    y: y(yValue(d)),
    title: `Title: ${zValue(d)} \nReleased: ${xValue(d).toLocaleDateString("en-US", { month: "long", day: "numeric", year: "numeric" })}\nLowest Selling Price: $${yValue(d)}`,
  }));

  // y axis
  svg
    .append("g")
    .attr('transform', `translate(${margin.left}, 0)`)
    .call(d3.axisLeft(y));

  // x axis
  svg 
    .append('g')
    .attr('transform', `translate(0, ${height - margin.bottom})`)
    .call(d3.axisBottom(x));

  // Add y-axis
  svg.append("g")
      .call(d3.axisLeft(y));

  // Add dots to represent data points
  svg.selectAll("circle")
    .data(marks)
    .join('circle')
    .attr("cx", (d) => d.x)
    .attr("cy", (d) => d.y)
    .attr("r", radius)
    .append('title')
    .text((d) => d.title);

  // Add axis labels
  svg.append("text")
      .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.top + 10) + ")")
      .style("text-anchor", "middle")
      .text("Released");

  svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x", 0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Lowest Price");

</script>

  {% endblock %}