{% extends "firstapp/layout.html" %} {% block body %}

<div class="bg-gradient-to-b from-yellow-400 to-yellow-600 text-gray-700 py-6">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-left sm:text-center ml-6 sm:ml-0">
      {{ artist }}
    </h1>
    <p class="text-left sm:text-center ml-6 sm:ml-0">
      <span class="text-xl" style="font-family: 'Pacifico', cursive;">
        Original Pressings
      </span>
    </p>
    <p class="text-left sm:text-center ml-6 sm:ml-0 mt-2">
      <a href="{% url 'firstapp:artist_release_statistics' artist %}" class="inline-block px-4 py-2 text-gray-800 font-bold rounded-lg hover:text-white">View Statistics</a>
    <p>
  </div>
</div>

<div class="overflow-x-auto">
  <div class="min-w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr class="bg-gradient-to-r bg-gray-200 text-gray-800">
          <th class="px-6 py-3 text-left text-xs font-medium uppercase whitespace-nowrap">
            <a href="?sort_by=title{% if current_sort_by == 'title' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Album Title
              {% if current_sort_by == 'title' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;  <!-- ascending arrow -->
                {% else %}
                  &#9660;  <!-- descending arrow -->
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-released" class="px-6 py-3 text-center text-xs font-medium uppercase hidden md:table-cell whitespace-nowrap">
            <a href="?sort_by=released{% if current_sort_by == 'released' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Released
              {% if current_sort_by == 'released' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-album-cover" class="px-6 py-3 text-center text-xs font-medium uppercase hidden 2xl:table-cell whitespace-nowrap"></th>
          <th id="table-community-have" class="px-6 py-3 text-center text-xs font-medium uppercase hidden xl:table-cell whitespace-nowrap">
            <a href="?sort_by=community_have{% if current_sort_by == 'community_have' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Have"
              {% if current_sort_by == 'community_have' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-community-want" class="px-6 py-3 text-center text-xs font-medium uppercase hidden xl:table-cell whitespace-nowrap">
            <a href="?sort_by=community_want{% if current_sort_by == 'community_want' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Want"
              {% if current_sort_by == 'community_want' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-community-demand_score" class="px-6 py-3 text-center text-xs font-medium uppercase hidden lg:table-cell whitespace-nowrap">
            <a href="?sort_by=community_demand_score{% if current_sort_by == 'community_demand_score' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Demand Score"
              {% if current_sort_by == 'community_demand_score' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-num-for-sale" class="px-6 py-3 text-center text-xs font-medium uppercase whitespace-nowrap">
            <a href="?sort_by=num_for_sale{% if current_sort_by == 'num_for_sale' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">For Sale*
              {% if current_sort_by == 'num_for_sale' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-lowest-price" class="px-6 py-3 text-center text-xs font-medium uppercase sm:table-cell whitespace-nowrap">
            <a href="?sort_by=lowest_price{% if current_sort_by == 'lowest_price' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Lowest Price
              {% if current_sort_by == 'lowest_price' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-view-markets" class="px-6 py-3 text-center text-xs font-medium uppercase whitespace-nowrap">
          </th>
        </tr>
      </thead>
      <tbody>
        {% for release in main_release_data %}
        <tr class="odd:bg-gray-100 even:bg-white">
          <td class="px-6 py-4 whitespace-wrap">
            <a href="{{base_url|add:release.uri}}" class="text-left text-sm font-medium" target="_blank"
              rel="noopener noreferrer">{{ release.title }}</a>
          </td>
          <td id="table-released" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium hidden md:table-cell">
            {{ release.released.year }}
          </td>
          <td id="table-album-cover" class="px-6 py-4 whitespace-nowrap hidden 2xl:table-cell">
            <img src="{{ release.thumb }}" alt="Album Cover" class="h-20 w-20 rounded-full mx-auto object-contain" />
          </td>
          <td id="table-community-have" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium hidden xl:table-cell">
            {{ release.community_have }}
          </td>
          <td id="table-community-want" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium hidden xl:table-cell">
            {{ release.community_want }}
          </td>
          <td id="table-community-demand-score" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium hidden lg:table-cell">
            {{ release.community_demand_score }}
          </td>
          <td id="table-num-for-sale" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium">
            {{ release.num_for_sale }}
          </td>
          <td id="table-lowest-price" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium sm:table-cell">
            {% if release.lowest_price != None %}
              ${{ release.lowest_price }}
            {% else %}
              {{ release.lowest_price }}
            {% endif %}
          </td>
          <td id="table-view-markets" class="px-6 py-4 whitespace-nowrap text-sm text-center font-medium">
            <a href="{% url 'firstapp:release_market' artist release.main_id %}"
            class="inline-block px-4 py-2 bg-gradient-to-r from-yellow-400 to-yellow-600 text-gray-800 font-bold rounded-lg hover:text-white">Markets</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>

    <div>
      <div class="container mx-auto px-4">
        <p class="text-xs text-center text-gray-800 sm:text-center ml-6 sm:ml-0 font-medium uppercase">
          *Number for sale is an estimate
        </p>
      </div>
    </div>

{% endblock %}