{% extends "firstapp/layout.html" %} {% block body %}

<div class="bg-gradient-to-b from-yellow-400 to-yellow-600 text-gray-700 py-6">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-left sm:text-center ml-6 sm:ml-0">
      {{ artist }}
    </h1>
    <p class="text-left sm:text-center ml-6 sm:ml-0">
      <span class="text-2xl font-bold italic">{{ artist }} Release Statistics</span>
     </p>
  </div>
</div>

<div class="overflow-x-auto">
  <div class="min-w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr class="bg-gradient-to-r bg-gray-200 text-gray-800">
          <th class="px-6 py-3 text-left text-lg font-medium uppercase tracking-wider">
            Album Title
          </th>
          <th id="table-year" class="px-6 py-3 text-center text-lg font-medium uppercase tracking-wider">
            Year
          </th>
          <th id="table-album-cover" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider"></th>
          <th id="table-community-have" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            Community "Have"
          </th>
          <th id="table-community-want" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            Community "Want"
          </th>
          <th id="table-community-demand_score" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            Community "Demand Score"
          </th>
          <th id="table-num-for-sale" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            Number for Sale
          </th>
          <th id="table-lowest-price" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            Lowest Price
          </th>
        </tr>
      </thead>
      <tbody>
        {% for release in data %}
        <tr class="odd:bg-gray-100 even:bg-white">
          <td class="px-6 py-4 whitespace-wrap">
            <a href="{{base_url|add:release.uri}}" class="text-left text-base font-medium" target="_blank"
              rel="noopener noreferrer">{{ release.title }}</a>
          </td>
          <td id="table-year" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.released }}
          </td>
          <td id="table-album-cover" class="px-6 py-4 whitespace-nowrap">
            <img src="{{ release.thumb }}" alt="Album Cover" class="h-20 w-20 rounded-full mx-auto object-contain" />
          </td>
          <td id="table-community-have" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_have }}
          </td>
          <td id="table-community-want" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_want }}
          </td>
          <td id="table-community-demand-score" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_demand_score }}
          </td>
          <td id="table-num-for-sale" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.num_for_sale }}
          </td>
          <td id="table-lowest-price" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.lowest_price }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>

{% endblock %}