{% extends "firstapp/layout.html" %} {% block body %}

<div class="bg-gradient-to-b from-yellow-400 to-yellow-600 text-gray-700 py-6">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-left sm:text-center ml-6 sm:ml-0">
      {{ artist }}
    </h1>
    <p class="text-left sm:text-center ml-6 sm:ml-0">
      <span class="text-2xl font-bold italic">{{ artist }} Release Statistics</span>
      <span><p>{{ current_sort_direction }}</p></span>
     </p>
  </div>
</div>

<div class="overflow-x-auto">
  <div class="min-w-full">
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr class="bg-gradient-to-r bg-gray-200 text-gray-800">
          <th class="px-6 py-3 text-left text-lg font-medium uppercase tracking-wider">
            <a href="?sort_by=title{% if current_sort_by == 'title' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Album Title
              {% if current_sort_by == 'title' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;  <!-- ascending arrow -->
                {% else %}
                  &#9660;  <!-- descending arrow -->
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-year" class="px-6 py-3 text-center text-lg font-medium uppercase tracking-wider">
            <a href="?sort_by=released{% if current_sort_by == 'released' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Released
              {% if current_sort_by == 'released' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-album-cover" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider"></th>
          <th id="table-community-have" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            <a href="?sort_by=community_have{% if current_sort_by == 'community_have' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Have"
              {% if current_sort_by == 'community_have' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-community-want" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            <a href="?sort_by=community_want{% if current_sort_by == 'community_want' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Want"
              {% if current_sort_by == 'community_want' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-community-demand_score" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            <a href="?sort_by=community_demand_score{% if current_sort_by == 'community_demand_score' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Community "Demand Score"
              {% if current_sort_by == 'community_demand_score' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-num-for-sale" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            <a href="?sort_by=num_for_sale{% if current_sort_by == 'num_for_sale' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Number for Sale
              {% if current_sort_by == 'num_for_sale' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
          <th id="table-lowest-price" class="px-6 py-3 text-center text-xs font-medium uppercase tracking-wider">
            <a href="?sort_by=lowest_price{% if current_sort_by == 'lowest_price' %}{% if current_sort_direction == 'asc' %}&sort_direction=desc{% else %}&sort_direction=asc{% endif %}{% endif %}">Lowest Price
              {% if current_sort_by == 'lowest_price' %}
                {% if current_sort_direction == 'asc' %}
                  &#9650;
                {% else %}
                  &#9660;
                {% endif %}
              {% endif %}
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for release in main_release_data %}
        <tr class="odd:bg-gray-100 even:bg-white">
          <td class="px-6 py-4 whitespace-wrap">
            <a href="{{base_url|add:release.uri}}" class="text-left text-base font-medium" target="_blank"
              rel="noopener noreferrer">{{ release.title }}</a>
          </td>
          <td id="table-year" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.released }}
          </td>
          <td id="table-album-cover" class="px-6 py-4 whitespace-nowrap">
            <img src="{{ release.thumb }}" alt="Album Cover" class="h-20 w-20 rounded-full mx-auto object-contain" />
          </td>
          <td id="table-community-have" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_have }}
          </td>
          <td id="table-community-want" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_want }}
          </td>
          <td id="table-community-demand-score" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.community_demand_score }}
          </td>
          <td id="table-num-for-sale" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.num_for_sale }}
          </td>
          <td id="table-lowest-price" class="px-6 py-4 whitespace-nowrap text-base text-center font-medium">
            {{ release.lowest_price }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>

{% endblock %}