{% extends "firstapp/layout.html" %}
{% block body %}
    <body>
        
        <div class="bg-gradient-to-b from-sky-600 flex h-screen justify-center items-center text-white space-x-2">
            <h1 class="text-4xl font-bold break-after-auto">Hello, world!</h1>
            {% for artist in artist_markets %}
                <h3 class="hover:text-white hover:bg-black"><a href="{% url 'firstapp:artist_releases' artist %}">{{ artist }}</a></h3>
            {% endfor %}
        </div>

        <div class="flex h-screen justify-center items-center flex flex-col mx-2 space-x-1 text-center overflow-x-auto">
            {% for color in colors %}
                <div class="h-full w-full bg-gradient-to-b {{ color }} to-neutral-50 flex justify-center items-center text-black">
                    <h1 class="text-4xl font-bold">Hello, {{ color }}!</h1>
                </div>
            {% endfor %}
        </div>


        {% for color in colors %}
            <div class="bg-gradient-to-b {{ color }} to-neutral-50 flex h-screen justify-center items-center text-black">
                <h1 class="text-4xl font-bold break-after-auto">Hello, {{ color }}!</h1>
            </div>
        {% endfor %}



    </body>
{% endblock %}