{% extends "firstapp/layout.html" %} {% block body %}
<div class="flex flex-col min-h-screen">
  <div
    class="flex-grow bg-gradient-to-b from-yellow-600 flex flex-col justify-center items-center text-white space-x-2">
    <div class="flex flex-col justify-center items-center">
      <div class="mb-5">
        <h3 class="font-semibold text-lg text-gray-800 whitespace-nowrap">
          Discogskiii is an order book for jazz original pressings:
        </h3>
      </div>
      {% for artist in artist_markets %}
      <h3 class="text-xl text-gray-800 hover:text-white hover:bg-black break-all text-center">
        <a href="{% url 'firstapp:artist_releases' artist %}">{{ artist }}</a>
      </h3>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}