{% extends "firstapp/layout.html" %}

{% block body %}
    <body>

        <h1 class="text-slate-900 font-bold text-4xl tracking-tight text-center mt-3">{{ artist }}</h1>
        <p class="text-slate-900 font-bold text-2xl tracking-tight text-center mt-3 mb-3">Original Pressings of {{ master_release.title}} for Sale</p>

        <div class="overflow-x-auto">
            <div class="min-w-full">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr class="bg-gradient-to-r from-blue-600 to-indigo-500 text-white">
                        <th class="px-6 py-3 text-right text-lg font-medium uppercase tracking-wider">Price</th>
                        <th class="px-6 py-3 text-left text-lg font-medium uppercase tracking-wider">Quantity</th>
                        <th class="px-6 py-3 text-left text-lg font-medium uppercase tracking-wider">Quality</th>
                        <th class="px-6 py-3 text-center text-lg font-medium uppercase tracking-wider">Listed</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for listing in marketplace_listings %}
                        <tr class="odd:bg-gray-100 even:bg-gray-200">
                            <td class="px-4 py-2 text-gray-800 whitespace-nowrap text-right text-base font-medium">{{ listing.price.value }}</td>
                            <td class="px-4 py-2 text-gray-800 whitespace-nowrap text-left text-base font-medium">1</td>
                            <td class="px-4 py-2 text-gray-800 whitespace-nowrap text-left text-base font-medium">{{ listing.condition }}</td>
                            <td class="px-4 py-2 text-gray-800 whitespace-nowrap text-center text-base font-medium">{{ listing.posted }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
{% endblock %}