{% extends "firstapp/layout.html" %}

{% block body %}
    <body>
        <h1>{{ artist }} Markets Page</h1>
        <h1>{{ release.title }}</h1>

        <table>
            <tr>
                <th>Master</th>
                <th id="condition">Condition</th>
                <th id="posted">Posted</th>
                <th id="price">Price</th>
            </tr>
            {% for listing in marketplace_listings %}
            <tr>
                <td><a href={{listing.uri}} target="_blank" rel="noopener noreferrer">{{ release.title }}</a></td>
                <td id="condition">{{ listing.condition }}</td>
                <td id="posted">{{ listing.posted }}</td>
                <td id="price">{{ listing.price.value }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Order Book</h3>
        <table>
            <tr>
                <th id="price">Price</th>
                <th id="offer-qty">Offer Qty.</th>
                <th id="offer-quality">Offer Quality</th>
            </tr>
            {% for listing in marketplace_listings %}
            <tr>
                <td id="price">{{ listing.price.value }}</td>
                <td id="offer-qty">1</td>
                <td id="offer-quality">{{ listing.condition }}</td>
            </tr>
            {% endfor %}
        </table>

            
    </body>
{% endblock %}