{% extends "firstapp/layout.html" %} {% block body %}
  <div class="bg-gradient-to-b from-yellow-400 to-yellow-600 text-gray-700 py-6">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold text-left sm:text-center ml-6 sm:ml-0">
        Welcome to your saved markets!
      </h1>
      <p class="text-lg text-left sm:text-center ml-6 sm:ml-0">
        userrrrrr
      </p>
    </div>
    {% for saved_market in saved_markets %}
        <p>{{ saved_market.market }}</p>
    {% endfor %}
  </div>
{% endblock %}